{% load static %}
<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top text-bg-dark">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle text-white pe-4 mx-3" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">CATEGORIAS</a>
            <ul class="dropdown-menu pe-4 me-3">
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Proteínas
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Vitaminas
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Aminoácidos
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Carboidratos
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Vegetarianos
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Vegano
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Linha Clínical
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Termogénicos
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Acessórios
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Roupas
                </label>
              </div></li>
              <li><hr class="dropdown-divider"></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Lançamentos
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Promoção
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Produtos HOT
                </label>
              </div></li>
              <li><div class="form-check dropdown-item pe-4 me-3 ps-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Frete Grátis
                </label>
              </div></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light pe-4 me-3" style="background-color: purple;" aria-current="page" href="#">INÍCIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-bg-secondary pe-4 me-3" href="#PD">PRODUTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-bg-secondary pe-4 me-3" href="#">PROMOÇÕES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-bg-secondary pe-4 me-3" href="#">PRÉ-TREINO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-bg-secondary pe-4 me-3" href="#">ROUPAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-bg-secondary pe-4 me-3" href="#SS">CONTATO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-bg-secondary pe-4 me-3" href="../sobre/">SOBRE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>