{% extends 'layout.html' %}
{% load static %}
    {% block content %}
    <!--Theader-->
    {% include 'partials/theader.html' %}
    <!--Navbar-->
    {% include 'partials/navbar.html' %}
    <!--Main-->
    <main>
      <!--Carousel-->
      <div id="carouselExampleAutoplaying" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'assets/img/carousel1.jpg' %}" class="d-block w-100" height="400px" alt="CTRL">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/img/carousel2.jpg' %}" class="d-block w-100" height="400px" alt="CTRL">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/img/carousel3.jpg' %}" class="d-block w-100" height="400px" alt="CTRL">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--Depoimentos-->
      <div class="row m-5 p-3">
        <h1 class="text-bg-dark" style="text-align:center;">Depoimentos de Clientes</h1>
        <div class="col-sm-6 mt-1 mb-3 mb-sm-0">
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Mauro Guimarães</h5>
              <p class="card-text">Já recomendei os produtos da WheyShop a Vários amigos que me pedem dicas de treino. Os produtos com melhor custo beneficio que já usei e a melhor parte está no sabor... eles Capricham nisso.</p>
              <footer class="blockquote-footer"><cite>23/02/2023</cite></footer>
            </div>
         </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3">
            <div class="card-body">
             <h5 class="card-title">Nathan Richard</h5>
             <p class="card-text">Os produtos são excelentes, o site é fácil de navegar e a entrega é rastreável e chega antes do prazo.</p>
             <footer class="blockquote-footer"><cite>03/03/2023</cite></footer>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3">
            <div class="card-body">
             <h5 class="card-title">Laura Santos</h5>
             <p class="card-text">Eu amo a WheyShop, sempre muito rápido o serviço e em poucos dias já recebo o produto na minha casa! Recomendo sempre!</p>
             <footer class="blockquote-footer"><cite>29/02/2023</cite></footer>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3">
            <div class="card-body">
             <h5 class="card-title">Ryan Paulo</h5>
             <p class="card-text">não posso falar muito pois sou iniciante no site, mas já vi que é muito bom.</p>
             <footer class="blockquote-footer"><cite>01/04/2023</cite></footer>
            </div>
          </div>
        </div>
      </div>
      <!--Produtos-->
      <h1 id="PD" class="text-bg-dark" style="text-align:center;">Produtos Proteínas</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 m-5">
        <div class="col">
          <div class="card">
            <img src="{% static 'assets/img/wheypro1.png' %}" class="card-img-top" alt="..." style="width:280px;height:300px;">
            <div class="card-body">
              <h5 class="card-title">Permormance 100% Whey Protein - <span style="color:green;font-family:Arial Black;">R$67,32</span></h5>
              <p class="card-text">Complexo 100% Whey Protein ultrafiltrado e concentrado.</p>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'assets/img/wheypro2.png' %}" class="card-img-top" alt="..." style="width:250px;height:300px;">
            <div class="card-body">
              <h5 class="card-title">100% Premium Whey USN - <span style="color:green;font-family:Arial Black;">R$57,60</span></h5>
              <p class="card-text">Proteína de várias fontes para recuperação e ganhos musculares ideais.</p>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'assets/img/wheypro3.png' %}" class="card-img-top" alt="..." style="width:300px;height:300px;">
            <div class="card-body">
              <h5 class="card-title">Naturally Flavored Oats & Whey - <span style="color:green;font-family:Arial Black;">R$50,40</span></h5>
              <p class="card-text">Bebida em pó de proteína de farinha de Gatmeal.</p>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'assets/img/wheypro4.png' %}" class="card-img-top" alt="..." style="width:280px;height:300px;">
            <div class="card-body">
              <h5 class="card-title">Gold Standard 100% Whey - <span style="color:green;font-family:Arial Black;">R$43,47</span></h5>
              <p class="card-text">Gold Standard 100% Whey Protein Isola Fonte Primária.</p>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <img src="{% static 'assets/img/wheypro5.png' %}" class="card-img-top" alt="..." style="width:250px;height:300px;">
            <div class="card-body">
              <h5 class="card-title">Optimum Nutrition Whey Protein - <span style="color:green;font-family:Arial Black;">R$62,32</span></h5>
              <p class="card-text">Optimum Nutrition Whey Protein - Seu crescimento muscular.</p>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card">
            <img src="{% static 'assets/img/wheypro6.png' %}" class="card-img-top" alt="..." style="width:280px;height:300px;">
            <div class="card-body">
              <h5 class="card-title">Gold Standard 100% Whey High - <span style="color:green;font-family:Arial Black;">R$70,40</span></h5>
              <p class="card-text">Gold Standard 100% Whey Fonte de Proteínas de Alta Qualidade.</p>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>
            </div>
          </div>
        </div>
      </div>
      <!--Modal-->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Login do Cliente</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" placeholder="example@email.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Escreva o seu email para receber o comprovante.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Endereço</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Escreva o seu endereço para receber o produto.</div>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Aceita os <a href="#" style="color:blue;">Termos de Usuário</a></label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Finalizar Compra</button>
            </div>
          </div>
        </div>
      </div>
      <!--Sugestões-->
      <div id="SS" class="p-3 bg-dark text-white">
        <h3>Contate-nos com Email:</h3>
        <div class="p-4 text-light me-5">
          <div class="mb-3 me-5">
            <label for="exampleFormControlInput1" class="form-label">Endereço de Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="me-5">
            <label for="exampleFormControlTextarea1" class="form-label">Sugestão</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
      </div>
    </main>
    <!--Footer-->
    {% include 'partials/footer.html' %}
    {% endblock %}